{% extends "layout.html" %}
{% block title %}Edit Note{% endblock %}
{% block content %}

<section class="max-w-2xl m-auto">
  <h3 class="text-3xl text-center font-bold dark:text-white mb-4">Edit Note</h3>
  <form method="post">
    <textarea id="edited_data" name="edited_data" rows="4"
      class="block p-2.5 mb-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{{ note.data }}</textarea>
    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update
      Note</button>
  </form>
</section>

{% endblock %}